[
  {
    "name": "AWS",
    "key": "DWRGVKRPQJLNU4GY",
    "digits": 6,
    "step": 30
  },
  {
    "name": "GitHub",
    "key": "DWRGVKRPQELNU4GY",
    "digits": 6,
    "step": 30
  },
  {
    "name": "Slack",
    "key": "DWRGEKRPQELNU4GY",
    "digits": 6,
    "step": 30
  }
]
